* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #0f0f0f;
}

.container-dots {
  position: absolute;
  bottom: 6%;
  left: 10%;
  z-index: 100;
}

.container-dots p {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 4px;
}

.dots .dot {
  width: 48px;
  height: 8px;
  opacity: 0.3;
  display: inline-block;
  margin: 0 12px 0 0;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.dots .dot:hover {
  opacity: 1;
}

.dots .azul {
  background: #00ADE8;
}

.dots .roxo {
  background: #E575FA;
}

.dots .verde {
  background: #BCE649;
}

.dot.active {
  opacity: 1;
}

.slide-wrapper {
  height: 100vh;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: none;
}

.slide-wrapper .suplemento .particles-frente {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.slide-wrapper .suplemento .pote {
  position: absolute;
  right: 12%;
  bottom: 0;
  z-index: 9;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.slide-wrapper .suplemento .luz-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 8;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.slide-wrapper .suplemento .particles-tras {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 7;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.slide-wrapper.azul {
  background-size: cover;
  z-index: 50;
}

.slide-wrapper.azul .pote {
  width: 28%;
}

.slide-wrapper.roxo {
  background-size: cover;
  z-index: 40;
}

.slide-wrapper.roxo .pote {
  right: 0;
  width: 60%;
}

.slide-wrapper.verde {
  background-size: cover;
  z-index: 30;
}

.slide-wrapper.verde .pote {
  right: 0;
  width: 63%;
}

.fade-opacity {
  -webkit-animation-name: fade-opacity;
          animation-name: fade-opacity;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fade-opacity {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-opacity {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fade-carousel {
  -webkit-animation-name: fade-carousel;
          animation-name: fade-carousel;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes fade-carousel {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fade-carousel {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10%;
  color: #ffffff;
}

.text h1 {
  font-size: 64px;
}

.text h1 span {
  display: block;
}

.text h3 {
  font-size: 28px;
  font-weight: 400;
}

.text .line {
  width: 80px;
  height: 6px;
  background: #e20628;
  margin: 24px 0;
}

.text .preco {
  font-size: 54px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.02em;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.text .preco span {
  font-size: 28px;
  margin-right: 16px;
  letter-spacing: 2px;
}

.buy-btn {
  border: 1px solid #e20628;
  height: 46px;
  width: 200px;
  background: none;
  border-radius: 8px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 28px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 800;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15%;
}

.icon {
  background: #e20628;
  width: 30%;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  position: absolute;
  right: 0;
}

.cart {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  rotate: 360deg;
}

.buy-btn:hover .icon {
  width: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.buy-btn:hover a {
  left: 75%;
  opacity: 0;
  visibility: hidden;
}

.logo {
  position: absolute;
  top: 6%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 200;
}
/*# sourceMappingURL=main.css.map */